<header class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
            {{#if env.ALGOLIA_API_KEY}}
                <div class="navbar-item search hide-for-print">
                    <input id="search-input" type="text" placeholder="Search the docs"
                        {{#if page.home}} autofocus{{/if}}/>
                </div>
            {{else}}
                <div class="navbar-item search hide-for-print">
                    <div id="search-field" class="field">
                        <input id="search-input" type="text" placeholder="Search the docs"
                            {{#if page.home}} autofocus{{/if}}/>
                    </div>
                </div>
            {{/if}}
            <button class="navbar-burger" data-target="topbar-nav">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div id="topbar-nav" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link">Projects</div>
                    <div class="navbar-dropdown">
                        <div class="navbar-item"><strong>{{ page.attributes.project-title }}</strong></div>
                        <a class="navbar-item" href="{{ page.attributes.origin-url }}">
                            <img height="16" width="16" src="{{ page.attributes.simple-icons-cdn }}/git.svg" alt="GitHub"/>
                            <span class="navbar-item-text">Repository</span>
                        </a>
                        <a class="navbar-item" href="{{ page.attributes.origin-url }}/issues">
                            <img height="16" width="16" src="{{ page.attributes.simple-icons-cdn }}/github.svg" alt="GitHub Issues"/>
                            <span class="navbar-item-text">Issue Tracker</span>
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{{ page.attributes.origin-url }}">
                            <img height="16" width="16" src="{{ page.attributes.simple-icons-cdn }}/crowdsource.svg" alt="Contributing"/>
                            <span class="navbar-item-text">Contributing</span>
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link">Community</div>
                    <div class="navbar-dropdown is-right">
                        <!--<a class="navbar-item" href="https://antora.zulipchat.com">Chat (Zulip)</a>-->
                    </div>
                </div>
                <a class="navbar-item" href="{{ page.attributes.origin-url }}">
                    <img height="32" width="32" src="{{ page.attributes.simple-icons-cdn }}/github.svg" alt="GitHub"/>
                </a>
            </div>
        </div>
    </nav>
</header>
